$main-bg-color: #f9fafc;
$main-text-color: #374452;
$column-bg-color: #e1e8f0;
$card-bg-color: white;
$card-border-color: blue;
$input-text-color: #a7a7a7;
$modal-form-border: #f5f5f5;
$hover-color-active: darkblue;

*,
*::after,
*::before {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  max-width: 1440px;
}

body {
  font-family: 'Outfit', sans-serif;
  font-weight: 400;
  background-color: $main-bg-color;
  color: $main-text-color;
  margin: 0;
  padding: 0;
  width: 100%;
}

input[type='search'] {
  -webkit-appearance: textfield;
}

input[type='search']::-webkit-search-decoration,
input[type='search']::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
  all: unset;
}

textarea:focus,
input:focus {
  outline: 0;
}

input {
  appearance: none;
  all: unset;
}

a {
  text-decoration: none;
}

button {
  all: unset;
  cursor: pointer;
}

img {
  max-width: 40px;
  height: auto;
  vertical-align: middle;
}

.root {
  width: 100%;
}

.board {
  margin-left: 0;
  margin-right: 0;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  width: 100%;
  justify-content: space-between;
  gap: 15px;
}

.column {
  width: 30%;
  height: 100%;
  background-color: $column-bg-color;
  border-radius: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
  overflow: scroll;
}

.card {
  height: auto;
  border-radius: 20px;
  background-color: $card-bg-color;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 10px;
  justify-content: space-between;
  cursor: pointer;
  overflow: hidden;
  border: 2px solid transparent;
}

.card:hover {
  border-color: $card-border-color;
  transition: border 0.7s ease-in-out;
}

.card-comments {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  gap: 10px;
  flex-wrap: wrap;
}

.card-comments-value {
  font-size: small;
  padding: 0;
  margin: 0;
  font-weight: 300;
}

.column-title-text {
  font-size: 16px;
  font-weight: 700;
}

.img-container {
  width: 30px;
  height: 30px;
  overflow: hidden;
}

.img-container img {
  max-width: 100%;
  max-height: 100%;
}

header {
  display: flex;
  margin-left: 0;
  margin-right: 0;
  justify-content: center;
}

.column-add-card-btn:hover {
  background-color: $main-text-color;
  border-radius: 10px;
  color: $main-bg-color;
  transition: background-color 0.7s ease-in-out;
}

.column-title-text:hover {
  font-size: 18px;
  transition: font-size 0.7s ease-in-out;
}

.column-add-card-btn {
  padding: 10px;
}

.modal-input {
  border-radius: 14px;
  border: 1px solid $modal-form-border;
  height: 40px;
  padding: 10px 16px;
  align-items: center;
  gap: 10px;
  align-self: stretch;
  color: $input-text-color;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  margin-bottom: 10px;
  width: 90%;
}

.p-text {
  font-size: 9px;
  font-weight: 300;
}

.height {
}

.min-line-height {
  height: auto;
}

.column-title {
  margin: 0;
  padding: 0;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
}

.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: $card-bg-color;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  width: 50%;
  height: 95%;
  overflow: scroll;
}

.min-height {
  height: auto;
}

.min-width {
  width: 70%;
}

.comment-control {
  display: flex;
  gap: 10px;
  font-size: 12px;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 25px;
  padding: 10px;
  font-size: 12px;
}

.description-div {
  display: block;
  width: 90%;
  min-height: 200px;
  border-radius: 14px;
  background-color: $column-bg-color;
  cursor: pointer;
  padding: 10px;
}

.description-div:hover {
  border: 1px solid $card-border-color;
}

.close:hover {
  color: $card-border-color;
  transition: color 0.3s ease-in-out;
}

.modal-welcome-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

.modal-card-container {
  display: flex;
  flex-direction: column;
  overflow: scroll;
  width: 100%;
  height: auto;
  justify-content: space-between;
  overflow: scroll;
  gap: 20px;
}

.cardTitle {
  font-size: 20px;
  font-weight: 700;
  height: auto;
}

.modal-card-content-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 20px;
  width: 100%;
  height: 80%;
}

.modal-card-content-form-textarea {
  width: 80%;
  border-radius: 10px;
  background-color: $main-bg-color;
  padding: 20px;
}

.modal-card-content-description-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.form-control {
  display: flex;
  gap: 10px;
}

.form-control-btn {
  background-color: $input-text-color;
  color: $main-bg-color;
  padding: 7px;
  border-radius: 10px;
  width: auto;
  text-align: center;
}

.card-control-btn {
  background-color: $input-text-color;
  color: $main-bg-color;
  padding: 4px;
  border-radius: 10px;
  max-width: 40%;
  text-align: center;
}

.userName {
  display: flex;
  flex-direction: column;
  gap: 7px;
  min-width: 30%;
  align-items: center;
}

.card-control-btn:hover {
  background-color: $main-text-color;
  transition: background-color 0.3s ease-in-out;
}

.form-control-btn:first-child {
  background-color: $card-border-color;
}

.form-control-btn:first-child:hover {
  background-color: $hover-color-active;
  transition: background-color 0.3s ease-in-out;
}

.form-control-btn:hover {
  background-color: $main-text-color;
  transition: background-color 0.3s ease-in-out;
}

.modal-card-content-title-form-input {
  border-radius: 10px;
  width: 80%;
  background-color: $main-bg-color;
  padding: 20px;
}

.min-btn-width {
  min-width: 15%;
}

.color-blue {
  background-color: $card-border-color;
}

.color-blue:hover {
  background-color: $hover-color-active;
  transition: background-color 0.3s ease-in-out;
}

.modal-card-comments-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.modal-card-comment-add-item {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.comment-btn {
  font-size: smaller;
}

.comment-input {
  width: 75%;
}

.user-name-text {
  font-weight: 700;
}

.card-comments-value::before {
  content: '💬  ';
}

.comment-item {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 80%;
}

.card-text-description {
  width: 80%;
  height: auto;
  font-weight: 300;
}

.user-comment-item {
  background-color: $column-bg-color;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border: 1px solid $modal-form-border;
  width: 100%;
  height: auto;
  overflow: hidden;
  font-weight: 300;
  font-size: 80%;
}

.delete-btn-text {
  font-size: 80%;
}

.comment-res-btn {
  font-size: small;
  padding: 0;
  font-weight: 300;
  border: none;
  background: none;
  cursor: pointer;
}

.comment-res-btn::before {
  content: '\00B7';
  margin-right: 5px;
}

.disabled {
  display: none;
}
